# Electric Vehicle Price Prediction Project
### Objective
To **predict the price of an Electric Vehicle (EV)** based on features such as battery capacity, range, speed, charging time, and brand.

### Why This Project?
Electric Vehicles are increasing in demand. Understanding how features affect pricing helps:
- Manufacturers decide production cost
- Customers compare EV models
- Businesses analyze market pricing trends

### Problem Statement
Given EV specifications as input, **predict the price** of the vehicle.

### Dataset Source
Dataset: *EV_cars.csv*  
Collected and stored inside `/data` folder.

### Tools & Technologies
| Area | Tech Used |
|-----|-----------|
| Programming | Python |
| Libraries | Pandas, NumPy, Matplotlib, Scikit-Learn |
| Frontend UI | Streamlit |
| Generative AI | OpenAI / Gemini for chatbot (optional) |
| Version Control | GitHub |

### What is Machine Learning?
Machine Learning is a method where computers learn patterns from data and make predictions.

### Type Used in This Project: Supervised Learning
We have:
- **Input features** → EV specs (Battery, Power, Range, etc.)
- **Output** → Price

In [44]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = 100

In [45]:


df = pd.read_csv("../data/EV_cars.csv")
df.head()

,Battery,Car_name,Car_name_link,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,Tesla Model Y Long Range Dual Motor,https://ev-database.org/car/1619/Tesla-Model-Y...,172,670.0,59017.0,435,217,5.0
1,57.5,Tesla Model 3,https://ev-database.org/car/1991/Tesla-Model-3,137,700.0,46220.0,420,201,6.1
2,60.5,BYD ATTO 3,https://ev-database.org/car/1782/BYD-ATTO-3,183,370.0,44625.0,330,160,7.3
3,61.7,MG MG4 Electric 64 kWh,https://ev-database.org/car/1708/MG-MG4-Electr...,171,630.0,39990.0,360,160,7.9
4,75.0,Tesla Model 3 Long Range Dual Motor,https://ev-database.org/car/1992/Tesla-Model-3...,149,780.0,55220.0,505,201,4.4

In [46]:
df.head()

,Battery,Car_name,Car_name_link,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,Tesla Model Y Long Range Dual Motor,https://ev-database.org/car/1619/Tesla-Model-Y...,172,670.0,59017.0,435,217,5.0
1,57.5,Tesla Model 3,https://ev-database.org/car/1991/Tesla-Model-3,137,700.0,46220.0,420,201,6.1
2,60.5,BYD ATTO 3,https://ev-database.org/car/1782/BYD-ATTO-3,183,370.0,44625.0,330,160,7.3
3,61.7,MG MG4 Electric 64 kWh,https://ev-database.org/car/1708/MG-MG4-Electr...,171,630.0,39990.0,360,160,7.9
4,75.0,Tesla Model 3 Long Range Dual Motor,https://ev-database.org/car/1992/Tesla-Model-3...,149,780.0,55220.0,505,201,4.4

In [47]:
df.shape

(360, 9)

In [48]:
df.columns

Index(['Battery', 'Car_name', 'Car_name_link', 'Efficiency', 'Fast_charge',
       'Price.DE.', 'Range', 'Top_speed', 'acceleration..0.100.'],
      dtype='object')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Battery               360 non-null    float64
 1   Car_name              360 non-null    object
 2   Car_name_link         360 non-null    object
 3   Efficiency            360 non-null    int64
 4   Fast_charge           358 non-null    float64
 5   Price.DE.             309 non-null    float64
 6   Range                 360 non-null    int64
 7   Top_speed             360 non-null    int64
 8   acceleration..0.100.  360 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 25.4+ KB

In [50]:
df.describe()

,Battery,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
count,360.000000,360.000000,358.000000,309.000000,360.000000,360.000000,360.000000
mean,71.187500,195.175000,552.960894,67264.284790,369.694444,180.919444,7.288889
std,20.389849,31.909429,236.864801,34508.249544,107.315514,36.232023,3.005897
min,21.300000,137.000000,170.000000,22550.000000,135.000000,125.000000,2.100000
25%,57.500000,171.000000,360.000000,45690.000000,295.000000,155.750000,4.900000
50%,71.000000,188.000000,520.000000,56942.000000,380.000000,180.000000,6.750000
75%,85.000000,208.250000,680.000000,73100.000000,446.250000,200.000000,9.000000
max,123.000000,295.000000,1290.000000,218000.000000,685.000000,320.000000,19.100000

### Understanding Dataset

I loaded the EV dataset and inspected:
- Number of rows and columns using `df.shape`
- Column data types and missing values using `df.info()`
- Summary statistics using `df.describe()`

### Week 1 Summary ✅
- Defined problem clearly
- Collected dataset
- Organized folder structure (`data/` and `notebooks/`)
- Loaded dataset in Jupyter Notebook
- Understood features and target variable